.container {
    width: 200px;
    height: 20px;
    background-color: wheat;
    margin: 50px auto;
    border-radius: 10px;
}
.loader {
    width: 10px;
    height: 20px;
    background-color: blue;
    border-radius: 10px;
    /* loader animasi */
    animation: Loader 2s linear infinite reverse;

}
@keyframes Loader {
    0% {
        width: 10px;
    }
    50% {
        width: 200px;
    }
}