/* Latihan Contoh Pertama */
/* body {
    background-color: antiquewhite;
}
.container-main {
    width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.content {
    background-color: #fff;
    padding: 30px;
}
.navigasi-kiri {
    background-color: #eee;
    padding: 30px;
    flex: 1;
}
.navigasi-kanan {
    background-color: #eee;
    padding: 30px;
    flex: 1;
} */

/* Latihan Contoh Kedua */
body {
    background-color: antiquewhite;
}
.container-main {
    width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}
.content {
    background-color: #fff;
    padding: 30px;
    order: 2;
    flex: 3;
    width: 400px;
}
.navigasi-kiri {
    background-color: #eee;
    padding: 30px;
    flex: 1;
    order: 1;
}
.navigasi-kanan {
    background-color: #eee;
    padding: 30px;
    flex: 1;
    order: 3;
}
/* Latihan Contoh Ke-3 */
.container-card {
    width: 900px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
.card {
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    width: 32%;
}
.card .card-header img {
    width: 100%;
}