nav {
    width: 900px;
    margin: auto;
    background-color: #df6262;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
ul li {
    display: inline-block;
}
ul li a {
    text-decoration: none;
    padding: 10px;
    color: black;
    display: block;
}
ul li .submenu {
    background-color: yellow;
    display: none;
    position: absolute;
    padding: 0px;
}
ul li:hover .submenu {
    display: block;
}
.submenu li {
    display: block;
    width: 100&;
}
.submenu li a {
    padding: 10px;
    color: black;
}
.submenu li a:hover {
    background-color: #df6262;
    color: yellow;
}
